#ENVIRONMENT VARIABLES
# - To use getSmartAccountWalletClient you'll need the private key associated with your Geo account.
# - You can get the private key for your Geo Genesis account using https://www.geobrowser.io/export-wallet.
PK_SW = "" 
DEMO_SPACE_ID = ""