#ENVIRONMENT VARIABLES
# - To use getSmartAccountWalletClient you'll need the private key associated with your Geo account.
# - You can get the private key for your Geo Genesis account using https://www.geobrowser.io/export-wallet.
PK_SW = "0x<private_key>" 
DEMO_SPACE_ID = "<space_id_of_the_personal_space>"